services:
  dev1:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        HF_USERNAME: ${HF_USERNAME}
        HF_TOKEN: ${HF_TOKEN}
    ports:
      - "8000:8000"
    shm_size: "16g"
    ipc: host
    volumes:
      - ../:/workspace:cached
    command: sleep infinity
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
